<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:fragment="copy">
<title>Web Server</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta
	content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no"
	id="Viewport" name="viewport" />

<!-- Bootstrap -->
<link rel="stylesheet" media="screen"
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" />

<!-- Optional theme -->
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap-theme.min.css" />

<link rel="stylesheet" href="/styles.css" />
</head>

<body th:fragment="copy" class="container">
	<nav class="navbar navbar-default navbar-inverse" role="navigation"
		style="margin-bottom: 2px;">

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/" th:href="@{/}">Home</a></li>

			</ul>
		</div>
	</nav>
</body>
</html>